# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Local Database
code_alchemist.db

# Editor configs
.vscode/
*.idea/

.env